<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Restaurants
<ul th:each=" restaurant : ${restaurants}">
    <li>
        <span th:text="${restaurant.getName()}">Name</span><br>
        <span th:text="${restaurant.getAddress()}">Address</span>
        <a th:href="@{'/restaurant/details/' + ${restaurant.getId()}}">Menu</a>
    </li>
</ul>
<p>
    <a th:href="@{/}">Home</a>
</p>
</body>
</html>